DS_Store
*~
*.h
*.swp
a.out
main.c
eval/
output
*.txt
!sh00/cell03/old/ex03/klist.txt
c01/**/ft_putnbr.c
c02/**/ft_putnbr.c
c02/**/ft_putstr.c
c02/ex09/ft_strcpy.c
c02/ex10/ft_strcpy.c
c02/ex11/ft_strcpy.c
c02/ex12/ft_strcpy.c
c03/ex00/ft_putnbr.c
c03/ex00/ft_strcpy.c
c03/ex01/ft_putnbr.c
c03/ex01/ft_strcpy.c
c03/ex02/ft_putstr.c
c03/ex02/ft_strcpy.c
c03/ex03/ft_putstr.c
c03/ex03/ft_strcpy.c
c03/ex04/ft_putstr.c
c03/ex04/ft_strcpy.c
c03/ex05/ft_putnbr.c
c03/ex05/ft_strcpy.c
c04/ex00/ft_putnbr.c
c04/ex00/ft_strcpy.c
c04/ex01/ft_strcpy.c
c04/ex03/ft_putnbr.c
c04/ex03/ft_strcpy.c
c04/ex04/ft_strcpy.c
c04/ex05/ft_putnbr.c
c04/ex05/ft_strcpy.c
c05/ex00/ft_putnbr.c
c05/ex01/ft_putnbr.c
c05/ex02/ft_putnbr.c
c05/ex03/ft_putnbr.c
